<h1> this is about page</h1>

<button><%= link_to 'Article listings', articles_path, data:{turbo_method: :get} %></button> 
<button><%= link_to 'Home', root_path, data:{turbo_method: :get} %></button> 